.categories {
	margin-bottom: 80px;
	@media (max-width: 640px) {
		margin-bottom: 60px;
	}
	&__wrap {
		overflow: hidden;
		position: relative;
		margin-bottom: 85px;
		@media (max-width: 640px) {
			margin-bottom: 20px;
		}

		&::after {
			position: absolute;
			content: "";
			bottom: 0;
			height: 45px;
			width: 100%;
			background-color: #fff;
		}
	}

	&__row {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		margin: 0 -50px 0;
		padding-top: 35px;

		&::before,
		&::after {
			position: absolute;
			content: "";
			top: 3px;
			width: 24px * 0.72;
			height: 24px * 0.72;
			flex: 0 0 24px * 0.72;
			border: 1px solid $yellow;
			transform: rotate(45deg);
		}
		&::before {
			left: 32.6%;

			@media (max-width: 975px) {
				left: 49%;
			}

			@media (max-width: 650px) {
				left: 48%;
			}
		}

		&::after {
			left: 65.8%;

			@media (max-width: 975px) {
				display: none;
			}
		}
	}

	&__col {
		position: relative;
		display: flex;
		justify-content: center;
		flex: 0 1 33.33%;
		padding: 0 50px 25px;
		margin-bottom: 25px;

		&::before {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0px);
			bottom: -5px;
			content: "";
			background-color: $yellow;
			width: 10px;
			height: 10px;
			flex: 0 0 10px;
			border-radius: 50%;
		}

		@media (max-width: 975px) {
			flex: 0 1 50%;
		}

		@media (max-width: 650px) {
			flex: 1 1 100%;
		}
	}

	&__deco {
		position: absolute;
		right: 0;
		top: 0;
		width: 24px;
		height: calc(100% + 24px);
		transform: translate(50%, 0);
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 5;

		&::before {
			content: "";
			background-color: $yellow;
			width: 1px;
			flex: 1 1 auto;
		}

		&::after {
			content: "";
			width: 24px * 0.72;
			height: 24px * 0.72;
			flex: 0 0 24px * 0.72;
			border: 1px solid $yellow;
			transform: rotate(45deg);
			margin: 15px 0;
		}

		span {
			display: flex;
			flex-direction: column;
			align-items: center;
			flex: 1 1 auto;

			&::before {
				content: "";
				background-color: $yellow;
				width: 10px;
				height: 10px;
				flex: 0 0 10px;
				border-radius: 50%;
				margin: 20px 0;
			}

			&::after {
				content: "";
				background-color: $yellow;
				width: 1px;
				flex: 1 1 auto;
			}
		}
	}

	&__text {
		&-wrap {
			position: relative;
			background: url("../img/categories/pattern.png") left top repeat-y;
			color: #333333;
			font-size: 16px;
			line-height: calc(25 / 15);
			padding: 14px 0px 30px 130px;
			@media (max-width: 540px) {
				background: none;
				padding: 0px 30px 0px;
				&:before {
					display: none;
				}
			}
			&:before {
				position: absolute;
				content: "";
				background: url("../img/categories/pattern-head.png") 0 0 no-repeat;
				top: -5px;
				left: 0;
				width: 85px;
				height: 6px;
			}

			& p {
				margin-bottom: 30px;
				&:last-child {
					margin: 0;
				}
			}
		}
	}
}
