.lots {
	margin-bottom: 100px;
	&__header {
		margin-bottom: 40px;

		.title {
			margin-bottom: 15px;
		}
	}
}

.slider-lots {
	margin: 0 -50px;

	@media (max-width: 1050px) {
		margin: 0 -10px;
	}

	.swiper-slide {
		align-items: stretch;
	}

	&__body {
		margin-bottom: 50px;
	}

	&__slide {
		padding: 0 50px;

		@media (max-width: 1050px) {
			padding: 0 15px;
		}
	}
}

// * Lot ===============================

.lot {
	display: flex;
	flex-direction: column;
	max-width: 245px;
	height: 520px;
	text-align: center;
	margin: 0 auto;

	&__header {
		position: relative;
		margin-bottom: 30px;
	}

	&__img {
		display: block;
		border: 3px solid $brown;
	}

	&__title {
		position: relative;
		font-family: $font-title, sans-serif;
		font-size: 21px;
		font-weight: 500;
		line-height: calc(25 / 21);
		text-transform: uppercase;
		color: $dark;
		flex: 1 1 auto;
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
}

.timer-lot {
	position: absolute;
	width: 72px;
	height: 72px;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 50%;
	transform: translate(-50%, -50%);
	padding-bottom: 25px;

	div {
		position: relative;
		z-index: 1;
	}

	&:before {
		position: absolute;
		content: "";
		background-color: #ffffff;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transform: rotate(45deg);
	}

	&__item {
		font-size: 18px;
	}
}

// * Info =========================

.info-lot {
	&__statistic {
		width: 50px;
	}

	&__icon {
		position: relative;
		width: 25px * 0.72;
		height: 25px * 0.72;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto 5px;

		&:after {
			position: absolute;
			content: "";
			width: 100%;
			height: 100%;
			background-color: #000000;
			transform: rotate(45deg);
		}

		img {
			position: relative;
			z-index: 2;
		}
	}

	&__value {
		font-size: 14px;
		border-bottom: 1px solid $brown;
	}

	&__current-bet {
		flex: 1 1 auto;
	}
}

.current-bet-lot {
	position: relative;

	&:after {
		position: absolute;
		content: "";
		width: 72px;
		height: 72px;
		border: 1px solid $brown;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%) rotate(45deg);
	}

	div {
		position: relative;
		z-index: 2;
	}

	&__value {
		font-family: "BravoRGR", sans-serif;
		font-size: 40px;
		line-height: 1;
		white-space: nowrap;
	}
}

// * Button =======================

.lot__btn {
	max-width: 219px;
	margin: 0 auto;

	.btn__body {
		span {
			font-family: "PFDin", sans-serif;
			font-size: 21px;
			font-weight: 500;
			letter-spacing: normal;
			color: $dark;
			padding: 0 30px;
		}
	}
}

// * Control arrow =============================

.control-lots {
	display: flex;
	justify-content: center;
	align-items: center;

	&__arrow {
		width: 100%;
		max-width: 100px;
		cursor: pointer;
		display: flex;
		align-items: center;
		fill: $brown;
		stroke-width: 2px;

		&:after {
			display: flex;
			flex-shrink: 0;
			content: "";
			width: 15px;
			height: 15px;
			margin: 0 5px;
			border-radius: 50%;
			border: 1px solid $brown;
		}

		&:last-child {
			flex-direction: row-reverse;
		}
	}

	&__link {
		background-image: url(./../img/lots/circle-link.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: 100px;
		height: 100px;
		margin: 0 20px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 21px;
		font-weight: 500;
		line-height: 1;
		color: $dark;
		text-transform: uppercase;

		@media (max-width: 360px) {
			font-size: 17px;
			text-align: center;
		}
	}
}
