.quotes {
	padding: 60px 0 75px;

	&__header {
		.lots__header {
			margin-bottom: 0;
		}
	}

	&__slider {
	}
}

.slider-quotes {
	&__body {
	}

	&__slide {
		display: flex;
		align-items: center;
		opacity: 0 !important;
		&.swiper-slide-active {
			opacity: 1 !important;
		}
	}

	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 320px/950px * 100%;
		padding: 0 50px;
	}

	&__content {
		flex: 0 1 475px;
	}

	&__title {
		font-size: 25px;
		line-height: calc(30 / 25);
		font-style: italic;
		margin-bottom: 30px/25px * 1em;
	}

	&__info {
		font-size: 15px;
	}

	&__control {
	}
}

.control-slider-quotes {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;

	&__decor {
		display: flex;
		align-items: center;
		flex: 0 1 33.33%;

		&::before {
			content: "";
			flex: 1 1 auto;
			height: 1px;
			background-color: $yellow;
		}

		&::after {
			content: "";
			width: 10px;
			height: 10px;
			border: 1px solid $yellow;
			border-radius: 50%;
			margin-left: 5px;
		}

		&:last-child {
			flex-direction: row-reverse;
			&::after {
				margin-right: 5px;
			}
		}
	}

	&__link {
		text-align: center;
		flex: 0 1 33.33%;
	}

	&__circle {
		display: inline-flex;
		width: 50px;
		height: 50px;
		border: 1px solid $yellow;
		border-radius: 50%;
		background: url(../img/quotes/arrow-round.png) center no-repeat;
		cursor: pointer;
	}
}
