.main-slider {
	position: relative;
	margin-bottom: 70px;

	&__body {
		padding: 30px 0px 100px 0px;
		position: relative;
	}

	&__item {
		color: #ffffff;
	}

	&__content {
		text-align: center;
		position: relative;
		z-index: 2;
	}

	&__text {
		margin: 0 auto;
		max-width: 600px;
	}

	&__btn {
		margin-top: 55px;
		color: #ffffff;
	}

	&__control {
		position: absolute;
		width: 100px;
		height: 100px;
		left: 50%;
		bottom: 0;
		transform: translate(-50%, 50%);
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 6;

		&:after {
			content: "";
			position: absolute;
			z-index: 6;
			width: 70%;
			height: 70%;
			background-color: #ffffff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
}

.control-slider {
	&__arrow {
		position: relative;
		z-index: 7;
		cursor: pointer;
	}

	&__arrow-prev {
		background-image: url(../img/prev.png);
		width: 14px;
		height: 24px;
	}

	&__decor {
		position: relative;
		z-index: 7;
		margin: 0 12px;
		animation: rotation 5s infinite linear;
	}

	&__arrow-next {
		background-image: url(../img/next.png);
		width: 14px;
		height: 24px;
	}
}

@keyframes rotation {
	0% {
	}

	100% {
		transform: rotate(360deg);
	}
}

.slider-body-1 {
	background-image: url("../img/slider_bg_1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.slider-body-2 {
	background-image: url("../img/slider_bg_2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

// .swiper-container {
// 	height: 450px;
// }
